#panel-item {
  position: absolute;
  height: calc(var(--map-height) + var(--timeline-height));
  width: var(--map-width);
  top: var(--header-height);
  left: var(--app-offset-left);
  outline: 1px solid black;
  display: inline-block;
  background: var(--color-background);
  z-index: 10;
  overflow-y: scroll;
}


#panel-item > button {
  position: absolute;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 50%;
  display:block;
  border: 1px solid black;
  width: 1.6em;
  height: 1.6em;
  top: 12px;
  right: 12px;
}

#panel-item > button:hover {
  background-color: grey;
  cursor: pointer;
}

.large-image {
  max-width: 100%;
  max-height: min(calc(var(--map-width) * 0.5), 350px);
  display: block;
  margin: auto;
}

.hidden {
  visibility: hidden;
}

.item-text {
  padding: 12px;
  font-size: min(calc(var(--map-width) * 0.022), 16px);
}