#panel-timeline {
  position: absolute;
  height: calc(var(--timeline-height) - 1px) ;
  width: var(--timeline-width);
  top: calc(var(--header-height) + var(--map-height) + 1px);
  left: var(--app-offset-left);
  display: inline-block;
  outline: 1px solid black;
  background: var(--color-background);
}

#panel-timeline > svg {
  position: absolute;
  top: 10px;
  left: 0;
  margin-left: 50px;
  width: calc(var(--timeline-width) - 100px);
  height: 35px;
  background: var(--color-logo-text);
}

#panel-timeline-boxes rect:hover {
/*  opacity: 0 !important;
  transition: 0;
  cursor: pointer;*/
}

.slider-container {
  position: absolute;
  top: 40px;
  left: 0;
  width: calc(var(--timeline-width) - 100px);
  margin-left: 50px;
}